:80 {
    # ၁။ VPN ချိတ်ဆက်မှုအတွက် Local V2Ray (Port 8080) ဆီသို့ လွှဲပေးရန်
    handle /vless-cdn {
        reverse_proxy 127.0.0.1:8080
    }

    # ၂။ Browser ကနေ trueth.kdns.fr ကို လာကြည့်သူများကို True Web ဆီသို့ မောင်းထုတ်ရန်
    handle {
        redir https://www.true.th{uri} permanent
    }
}
